@font-face {
  font-family: "pokemon";
  src: url("fonts/pokemon.woff2") format("woff2"), url("fonts/pokemon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: pokemon;
  font-size: 62.5%;
}

body {
  background-color: #ffcb05;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.logo {
  font-size: 2.2rem;
  padding-top: 0.5em;
}

#search-pokedex {
  padding: 2em;
}

#show-search {
  max-width: 520px;
  margin: 0 auto;
}

.form {
  max-width: 520px;
  position: relative;
  font-family: pokemon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 4.2em;
}

.form__input {
  font-family: pokemon;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: 3px solid #f0f0f0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  padding: 0.8em 1.4em;
}

.form .form__input:hover,
.form .form__input:focus {
  -webkit-box-shadow: 0 6px 1px -2px #2a75bb;
          box-shadow: 0 6px 1px -2px #2a75bb;
}

.form__submit {
  font-family: pokemon;
  font-size: 1.3rem;
  background-color: #3c5aa6;
  color: white;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 1.3em;
}

#error-msg {
  font-size: 1.2rem;
  display: none;
  position: absolute;
  left: 0;
  bottom: -35px;
  color: #ce2029;
}

#pokedex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  grid-gap: 2rem;
  margin: 2em;
}

.card {
  text-align: center;
  list-style: none;
  background-color: #2a75bb;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 1.4em;
}

.card__title {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}

.card:hover {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  20% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  20% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  80% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=index.css.map */